
<!DOCTYPE html>
<html>
<head>
        <style>
                table {
                        border-collapse: collapse;
                        width: 100%;
                }

                th, td {
                        padding: 8px;
                        text-align: left;
                        border-bottom: 1px solid #ddd;
                }

                tr:hover {
                        background-color: #f5f5f5
                }
        </style>
</head>
<body>

<h2>Liste des produits d'une marque</h2>

<table>
        <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Action</th>
                <th></th>


        </tr>
        <tr *ngFor="let item of items">
                <td> {{item.nom}}</td>
                <td>{{item.prix}}</td>
                <td>
                        <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Editer
                        </button>
                </td>
                <td>
                        <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span> Supprimer
                        </button>


                </td>

        </tr>

</table>

</body>
</html>
