<div id="menu">
<h2>
<span style="position: absolute; top: 10px;  right: 550px;"> {{titre}}  </span> <br><br><br><br/>
</h2>
       <nav>
       <a routerLink="composant4"> Retourner à l'acceuil </a> <br/>
       <a routerLink="composant1"> Recherche par marques </a> <br/>
       <a routerLink="composant2"> Recherche par types </a>
       <br/><br/>
       <h3>
       <input (keyup)="setMarque(choixMarque.value)" value="" #choixMarque />
       Marque choisie : {{marque}} </h3>
       <br/>
       <a routerLink="composant3/{{marque}}"> Recherche par marque </a>


</nav>
<br/>

<router-outlet></router-outlet>
</div>

<h1> Réalisé par Samia MOKDAD & Siham MEKHOUKHE</h1>
